//component
.box {
  display: flex;
  &.items-2 {
    .items {
      flex: 50%;
    }
  }
  .items {
    box-sizing: border-box;
    padding: 50px;
    font-size: $fontSizeMid;
    flex: 100%;
    flex-shrink: 0;
    .title {
      margin-top: 100px;
      font-size: $titleFontSizeBig;
    }
    img {
      width: 100%;
    }
    &.center {
      text-align: center;
    }
  }
}

// introduce 
.introduce {
  .box {
    .items {
      padding: 30px;
      .title {
        margin-top: 30px;
      }
      .title-h4 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
      }
      .mission-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 315px;
        background-color: #f3f3f3;
        color: $fontColorTitle;
        font-size: 36px;
        margin: 0;
      }
      .items-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 45.5%;
          height: 200px;
          padding: 15px;
          color: #fff;
          h4 {
            font-size: 32px;
            font-weight: 400;
            color: #fff;
            padding: 30px 0 10px 20px;
          }
          p {
            font-size: 16px;
            padding: 10px 20px;
            line-height: 25px;
          }
          @for $i from 1 to 5 {
            &:nth-child(#{$i}){
              background: url('../img/company/value-img0#{$i}.png') no-repeat center / cover;
            }
          }
          &:nth-child(2){
            background: url('../img/company/value-img02.PNG') no-repeat center / cover;
          }
          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 30px;
          }
        }
      }
      .award-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 23%;
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: 15px;
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            margin-bottom: 0;
          }
          img {
            width: 60%;
            object-position: center;
            border: 1px solid #dedede;
            padding: 40px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

// ci
.ci {
  .box {
    .items {
      padding: 30px;
      .title {
        margin-top: 30px;
        &.ci-title {
          font-family: 'Noto Sans KR', sans-serif;

        }
      }
      p {
        &.ci-info {
          font-size: 16px;
        }
      }
      &.ci-bg {
        position: relative;
        img {
          opacity: 0.1;
        }
        ul {
          width: 80%;
          display: flex;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%);
          li {
            width: 30%;
            margin: 0 50px;
            text-align: center;
            span {
              font-size: 14px;
            }
            h4 {
              font-size: 120px;
              font-weight: 400;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

// history
.history {
  .box {
    .items {
      padding: 30px;
      .title {
        margin-top: 30px;
        text-align: center;
      }
      .title-h4 {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
      }
      &.history-list {
        position: relative;
        .line {
          position: absolute;
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          background-color: #dedede;
        }
        ul{
          width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            position: relative;
            width: 45%;
            &:nth-child(odd){
              text-align: right;
              padding-right: 30px;
              margin: 30px 0;
              &::after {
                right: -26px;
              }
            }
            &:nth-child(even){
              text-align: left;
              padding-left: 30px;
              margin: 150px 0 30px 0;
              &::after {
                left: -23px;
              }
            }
            h5 {
              font-size: 22px;
              color: #444;
              font-weight: 500;
            }
            p {
              margin: 0;
              font-size: 16px;
            }
            &::after {
              content: '';
              position: absolute;
              top: 8px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #fff;
              border: 3px solid $borderColorPrimary;
            }
          }
        }
      }
    }
  }
}

// product 
.product{
  .box {
    .items {
      padding: 20px;
      .title {
        margin-top: 0;
      }
      .gbtn {
        margin: 50px 0 0 40%;
        font-size: 15px;
      }
    }
  }
}

// gallery
.gallery-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  .gallery {
    position: relative;
    width: 600px;
    margin: 50px auto;
    #main {
      width: 600px;
      height: 450px;
      float: right;
      overflow: hidden;
      box-sizing: border-box;
      border: 3px solid white;
      img {
        width: 100%;
      }
    }
    .navi-wrap {
      position: relative;
      > img {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 500;
        &.next {
          right: 0;
          transform: translate(100%,-50%);
        }
        &.prev {
          left: 0;
          transform: translate(-100%,-50%);
        }
      }
      #navi {
        width: 600px;
        overflow: hidden;
        ul {
          li {
            width: 120px;
            float: left;
            border: 3px solid white;
            box-sizing: border-box;
            img {
              width: 100%;
            }
          }
        }
        .page-wrap {
          width: 1800px;
          .page {
            float: left;
            overflow: hidden;
          }
        }
      }
    }
  }
}

//location 
.location {
  .box {
    text-align: center;
    .items {
      padding: 20px;
      .title {
        margin-top: 20px;
        font-family: 'Noto Sans KR', sans-serif;
      }
      .location-btn {
        margin-top: 30px;
        ul {
          display: flex;
          width: 50%;
          margin: 0 auto;
          li {
            width: 33%;
            padding: 8px 15px;
            background-color: #fff;
            border: 1px solid $borderColorPrimary;
            cursor: pointer;
            font-family: 'Noto Sans KR', sans-serif;
            transition: .3s;
            &:not(:nth-child(1)){
              border-left: 0;
            }
            &.on,
            &:hover {
              background-color: $borderColorPrimary;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .location-list {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    li {
      color: $fontColorTitle;
      font-size: $fontSizeMid;
      display: none;
      &.on {
        display: block;
      }
    }
  }
}

// faq accordian
dl {
  // width: 800px;
  margin: 50px 0 0 0;
  dt {
    text-indent: 1em;
    font-size: 17px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    background: $tableBg;
    cursor: pointer;
    &:hover {
      background: $tableBgColorHover;
    }
  }
  dd {
    margin: 0;
    height: 300px;
    background: #eee;
    &.on {
      display: block;
    }
    p {
      margin: 0;
      text-indent: 1.25em;
      padding: 20px;
    }
  }
}

// table
table {
  & + .gbtn {
    margin-top: 20px;
  }
  &.common-table {
    width: 100%;
    margin: 50px auto 0;
    border-collapse: collapse;
    th,td {
      padding: 15px;
      height: 30px;
      text-align: left;
      vertical-align: middle;
      font-size: $fontSizeNormal;
    }
    th {
      background: $tableBg;
      color: white;
      font-weight: 500;
    }
    /* 첫번째 테이블 속성의 타이틀 영역을 제외한 가로줄 hover 효과 주기 */
    td {
      font-weight: 300;
      color: $fontColorBasic;
      border-bottom: 1px solid $borderColorPrimary;
    }
    tr{
      &:not(:first-child){
        &:hover {
          background: #eee;
        }
      }
    }
  }
}
.hover {
  background: #eee;
}

// kakao map
#map {
  margin-top: 50px;
}
.customoverlay {
  position: relative;
  bottom: 60px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  &:nth-of-type(n) {
    border: 0; 
    box-shadow: 0px 1px 2px #888;
  }
  a {
    display: block;
    text-decoration: none;
    color: $fontColorPrimary;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: $tableBg;
    background: $tableBg url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
  }
  .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
  }
  &::after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
  }
}
