html,body {
  height: 100%;
}

body {
  background: $layoutBg;
  color: $fontColorBasic;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.04em;
}

html,body,ul,li,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  color: $fontColorTitle;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColorPrimary;
  transition: .5s;
  &:hover {
    color: $fontColorHover;
  }
}
