//site width
$siteWidth: 1320px;

//text size
$fontSizeSamll: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// color
// background color
$layoutBg: #fefefe;

// font color
$fontColorBasic: #555555;
$fontColorPrimary: #33353d;
$fontColorHover: #191919;
$fontColorTitle: #1d1d1d;

//border color
$borderColorPrimary: #33353d;
$borderBgColor: #191919;

//button color
$gbtnColor: #33353d;
$gbtnColorHover: #191919;

//table color
$tableBg: #33353d;
$tableBgColorHover: #191919;
